<% include ./partials/header %>

<div class="container">

<h2>Login</h2>

<form class="form-width" action="/login" method="POST">
    <div class="form-group">
        <label for="username-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="username-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <input type="submit" class="btn btn-outline-primary" value="Login!">
</form>

<% include ./partials/footer %>

</div>